body{
    background: rgba(180,180,180,.1);
}

#hide{
    width: 100%;
    height: 50px;
    background-color: white;
    overflow: hidden;
    border-bottom: 2px solid #e4393c;
    position: fixed;
    top: -50px;
    z-index: 999;
}

#hide #hide-search{
    width: 550px;
    height: 35px;
    margin: 7px auto;
    background: #ccc;
    line-height: 35px;
}

#hide #hide-search input{
    width: 450px;
    padding: 0 5px;
    float: left;
    background-color: #ccc;
}

#hide #hide-search a img{
    width: 25px;
    margin-top: 5px;
    margin-left: 10px;
}

#hide #hide-search button{
    width: 50px;
    height: 35px;
    background: url("../img/search.png") no-repeat 12px 5px;
    background-size: 25px 25px;
    background-color: #f10215;
    float: right;
    cursor: pointer;
}

.banner{
    width: 100%;
    height: 80px;
    background-color: #0d2c96;
}

.banner #banner_pic{
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}

.banner button{
    width: 20px;
    height: 20px;
    background: url("../img/X.png") no-repeat 2px 2px;
    background-size: 16px 16px;
    background-color: rgba(0,0,0,.2);
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
}

header{
    width: 100%;
    height: 30px;
    background: #e3e4e5;
    border-bottom: 1px solid #ccc;
}

header .dh{
    width: 1190px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 12px;
    color: gray;
    position: relative;
    z-index: 222;
}

header .dh #alogo{
    width: 190px;
    height: 170px;
    background: url("../img/alogo.png") no-repeat 0 0;
    background-size: 320px 190px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px #ccc;
}

header .dh>span{
    width: 50px;
    height: 30px;
    display: inline-block;
    background: url("../img/dw.png") no-repeat 0 7px;
    background-size: 15px 15px;
    padding-left: 20px;
    margin-left: 200px;
}

header .dh #span{
    width: 322px;
    height: 190px;
    background: white;
    position: absolute;
    top: 29px;
    left: 200px;
    padding-top: 10px;
    z-index: -1;
    display: none;
}

header #span ul li{
    float: left;
    margin: 0 5px;
    margin-bottom: 5px;
}

header #span ul li a{
    display: block;
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: gray;
}

header #span ul li a:hover{
    color: red;
    background: #ccc;
}

header .dh>ul{
    float: right;
}

header .dh>ul li{
    float: left;
}

header .dh>ul li span{
    color: #ccc;
}

header .dh>ul li img{
    width: 10px;
    margin-top: 10px;
    margin-left: 3px;
}

header .dh>ul li a{
    display: inline-block;
    width: 70px;
    height: 30px;
    text-align: center;
    color: gray;
    margin: 0 3px;
}

header .dh>ul li a:hover{
    color: red;
}

header #myjd{
    width: 282px;
    height: 162px;
    background: white;
    padding: 10px;
    position: absolute;
    top: 29px;
    left: 720.5px;
    border: 1px solid #ccc;
    display: none;
}

header #myjd ul li{
    float: left;
    width: 120px;
    height: 20px;
}

header #myjd ul:nth-of-type(2){
    width: 100%;
    height: 50px;
    margin-top: 80px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

header #myjd ul li a{
    color: gray;
}

header #myjd ul li a:hover{
    color: red;
}

header #buy{
    width: 162px;
    height: 72px;
    background: white;
    padding: 10px;
    position: absolute;
    top: 29px;
    left: 879px;
    border: 1px solid #ccc;
    display: none;
}

header #buy ul li{
    float: left;
    width: 70px;
    height: 20px;
}

header #buy ul li a{
    color: gray;
}

header #buy ul li a:hover{
    color: red;
}

header #fuwu{
    width: 172px;
    height: 252px;
    background: white;
    padding-left: 10px;
    position: absolute;
    top: 29px;
    left: 858.5px;
    border: 1px solid #ccc;
    display: none;
}

header #fuwu ul li{
    float: left;
    width: 80px;
    height: 22px;
}

header #fuwu span:nth-of-type(2){
    display: block;
    margin-top: 100px;
}

header #fuwu a{
    color: gray;
}

header #fuwu a:hover{
    color: red;
}

header #fuwu span{
    color: black;
    font-weight: bold;
}

header #inter{
    width: 1190px;
    height: 180px;
    background: white;
    position: absolute;
    top: 29px;
    display: none;
    z-index: 5555;
    border: 1px solid #ccc;
}

header #inter #int-1{
    width: 360px;
    height: 180px;
    padding: 10px;
    float: left;
}

header #inter #int-1 ul li{
    float: left;
    width: 84px;
    height: 25px;
}

header #inter #int-1 span{
    color: black;
    font-weight: bold;
}

header #inter #int-1 ul li a{
    color: gray;
}

header #inter #int-2{
    width: 275px;
    height: 180px;
    padding: 10px;
    float: left;
}

header #inter #int-2 ul li{
    float: left;
    width: 85px;
    height: 25px;
}

header #inter #int-2 span{
    color: black;
    font-weight: bold;
}

header #inter #int-2 ul li a{
    color: gray;
}

header #inter #int-3{
    width: 275px;
    height: 180px;
    padding: 10px;
    float: left;
}

header #inter #int-3 ul li{
    float: left;
    width: 85px;
    height: 25px;
}

header #inter #int-3 span{
    color: black;
    font-weight: bold;
}

header #inter #int-3 ul li a{
    color: gray;
}

header #inter #int-1 ul li a:hover{
    color: red;
}
header #inter #int-2 ul li a:hover{
    color: red;
}
header #inter #int-3 ul li a:hover{
    color: red;
}
header #inter #int-4 ul li a:hover{
    color: red;
}

header #inter #int-4{
    width: 275px;
    height: 180px;
    padding: 10px;
    float: left;
}

header #inter #int-4 ul li{
    float: left;
    width: 85px;
    height: 25px;
}

header #inter #int-4 span{
    color: black;
    font-weight: bold;
}

header #inter #int-4 ul li a{
    color: gray;
}

header #phonejd{
    width: 192px;
    height: 307px;
    background: white;
    line-height: 1.5em;
    position: absolute;
    top: 29px;
    right: 3px;
    border: 1px solid #ccc;
    display: none;
}

header #phonejd #ph1{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

header #phonejd #ph1 span{
    display: block;
    margin-top: 25px;
}

header #phonejd #ph1 b{
    color: red;
}

header #phonejd #ph1 img{
    float: left;
    margin: 10px;
}

header #phonejd #ph2{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

header #phonejd #ph2 span{
    display: block;
    margin-top: 15px;
}

header #phonejd #ph2 b{
    color: red;
}

header #phonejd #ph2 img{
    float: left;
    margin: 10px;
}

header #phonejd #ph3{
    width: 100%;
    height: 100px;
    overflow: hidden;
}

header #phonejd #ph3 span{
    display: block;
    margin-top: 25px;
}

header #phonejd #ph3 b{
    color: red;
}

header #phonejd #ph3 img{
    float: left;
    margin: 10px;
}

header #ewm{
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    padding: 4px;
    position: absolute;
    right: 5px;
}

.menu{
    width: 1190px;
    height: 140px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.menu #search{
    width: 550px;
    height: 35px;
    margin: 0 auto;
    margin-top: 24px;
    background: white;
    line-height: 35px;
}

.menu #search input{
    width: 450px;
    padding: 0 5px;
    float: left;
}

.menu #search a img{
    width: 25px;
    margin-top: 5px;
    margin-left: 10px;
}

.menu #search button{
    width: 50px;
    height: 35px;
    background: url("../img/search.png") no-repeat 12px 5px;
    background-size: 25px 25px;
    background-color: #f10215;
    float: right;
    cursor: pointer;
}

.menu #gouwc{
    width: 180px;
    height: 35px;
    background-color: white;
    position: absolute;
    top: 25px;
    right: 105px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
    line-height: 35px;
    z-index: 5;
}

.menu #gouwc img{
    width: 20px;
    height: 20px;
    margin-top: 6px;
}

.menu #gouwc a {
    color: red;
}

.menu #gwc{
    width: 308px;
    height: 69px;
    background: white;
    position: absolute;
    top: 59px;
    right: 105px;
    border: 1px solid #ccc;
    display: none;
    line-height: 69px;
    z-index: 2;
    text-align: center;
    font-size: 14px;
}

.menu>p{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    margin-left: -25px;
}

.menu>p a{
    color: grey;
    margin-left: 10px;
}

.menu>p a:nth-of-type(1){
    color:red;
}

.menu>p a:hover{
    color: red;
}

.menu>ul{
    width: 760px;
    margin: 30px auto;
}

.menu>ul li{
    float: left;
    margin: 0 15px;
    font-size: 14px;
}

.menu>ul li a{
    color: #555;
}

.menu>ul li a:hover{
    color: red;
}

.menu>img{
    float: right;
    margin-top: -25px;
}

.grid{
    width: 1190px;
    height: 480px;
    margin: 0 auto;
}

.grid aside{
    width: 190px;
    height: 480px;
    float: left;
    border: 1px solid #ccc;
    background-color: white;
    position: relative;
}

.grid aside>ul{
    margin-top: 10px;
}

.grid aside>ul li{
    font-size: 14px;
    color: gray;
    width: 190px;
    height: 27px;
    padding-left: 20px;
    line-height: 27px;
}

.grid aside>ul li:hover{
    background: #ccc;
}

.grid aside>ul li a{
    color: gray;
}

.grid aside>ul li a:hover{
    color: red;
}

.grid aside #aside-con{
    position: absolute;
    top: 0;
    left: 190px;
    z-index: 2222;
}

.grid aside #aside-con>div{
    width: 998px;
    height: 478px;
    background: white;
    box-shadow: 0 0 10px #ccc;
    overflow: hidden;
    padding: 20px;
    display: none;
}

.grid aside #aside-con>div>ul{
    overflow: hidden;
}

.grid aside #aside-con>div>ul>li{
    float: left;
    margin: 0 5px;
    font-size: 12px;
    color: #ccc;
}

.grid aside #aside-con>div>ul>li a{
    color: gray;
    font-size: 12px;
}

.grid aside #aside-con>div>ul>li:nth-of-type(1) a{
    font-weight: bolder;
    color: black;
}

.grid aside #aside-con>div>ul>li a:hover{
    color: red;
}

.grid aside #aside-con>div>ul>li span{
    margin-left: 10px;
}

.grid aside #aside-con>div>ul:nth-of-type(1) li a{
    display: inline-block;
    height: 24px;
    background: black;
    color: white;
    padding: 0 5px;
    line-height: 24px;
    font-weight: normal;
}

.grid aside #aside-con>div>ul:nth-of-type(1) li a:hover{
    opacity: .7;
}

.grid #movepic{
    width: 590px;
    height: 470px;
    float: left;
    position: relative;
    margin: 10px;
}

.grid #movepic img{
    width: 590px;
    height: 470px;
    position: absolute;
    top: 0;
}

.grid #movepic #left a,.grid #movepic #rig a{
    text-decoration: none;
    color: black;
    display: block;
    height: 40px;
    width: 20px;
    background: rgba(255,255,255,.4);
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
}

.grid #movepic #left{
    position: absolute;
    left: 10px;
    top: 200px;
}

.grid #movepic #rig{
    position: absolute;
    right: 10px;
    top: 200px;
}

.grid #gr-box{
    width: 190px;
    height: 470px;
    float: left;
}

.grid #gr-box img{
    width: 190px;
    height: 150px;
    margin-top: 10px;
}

.grid #gr-box a:hover{
    opacity: .7;
}

.grid #gr-right{
    width: 190px;
    height: 470px;
    float: left;
    background: white;
    margin: 10px 0 0 10px;
}

.grid #gr-right>a img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #ccc;
    box-shadow: 0 0 30px gray;
    margin: 0 auto;
    display: block;
    margin-top: -10px;
}

.grid #gr-right #user_plus{
    width: 190px;
    height: 90px;
    text-align: center;
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}

.grid #gr-right #user_plus a{
    margin: 10px 5px 0 5px;
    color: gray;
    display: inline-block;
}

.grid #gr-right #user_plus a:hover{
    color: red;
}

.grid #gr-right #user_plus a:nth-of-type(3){
    width: 70px;
    height: 25px;
    line-height: 25px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px gray;
    color: red;
}

.grid #gr-right #user_plus a:nth-of-type(4){
    width: 70px;
    height: 25px;
    line-height: 25px;
    border-radius: 15px;
    color: gold;
    background: #555555;
    box-shadow: 4px 4px 10px gray;
}

.grid #gr-right #user_plus a:nth-of-type(3):hover,.grid #gr-right #user_plus a:nth-of-type(4):hover{
    background: red;
    color: white;
}

.grid #gr-right #r_news{
    width: 190px;
    height: 130px;
}

.grid #gr-right #r_news #n_top{
    width: 190px;
    height: 25px;
    position: relative;
}

.grid #gr-right #r_news ul li{
    float: left;
    font-size: 12px;
    color: gray;
}

.grid #gr-right #r_news #n_top ul li a{
    width: 50px;
    height: 20px;
    color: gray;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.grid #gr-right #r_news #n_top>a{
    color: gray;
    font-size: 12px;
    float: right;
    margin-right: 10px;
}

.grid #gr-right #r_news #n_top>a:hover{
    color: red;
}

.grid #gr-right #r_news #n_top #xiax{
    width: 25px;
    height: 2px;
    background: #e4393c;
    position: absolute;
    top: 18px;
    left: 12px;
}

.grid #gr-right #r_news>ul li{
    margin: 5px 12px;
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.grid #gr-right #r_news>ul li a{
    color: gray;
}

.grid #gr-right #r_news>ul li a:hover{
    color: red;
}

.grid #gr-right #r_news>ul:nth-of-type(2){
    display: none;
}

.grid #heart{
    width: 190px;
    height: 190px;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
}

.grid #heart #xin-1{
    width: 190px;
    height: 190px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.grid #heart #xin-1 ul li{
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    margin: 5px 2px;
}

.grid #heart #xin-1 ul li a{
    color: gray;
    font-size: 12px;
}

.grid #heart #xin-1 ul li a:hover{
    color: red;
}

.grid #heart #xin-1 ul li img{
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
}

.grid #heart #xin-2{
    width: 190px;
    height: 190px;
    font-size: 12px;
    position: absolute;
    line-height: 2em;
    padding: 10px;
    background: white;
}

.grid #heart #xin-2 p{
    color: red;
    margin-left: 30px;
}

.grid #heart #xin-2 button{
    width: 66px;
    height: 22px;
    display: block;
    background: orange;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 30px auto;
}

.cont-1{
    width: 1190px;
    height: 275px;
    margin: 30px auto;
}

.cont-1 #djtime{
    width: 190px;
    height: 275px;
    background: #e4393c;
    float: left;
    text-align: center;
    color: white;
}

.cont-1 #djtime p:first-of-type{
    font-size: 35px;
    margin-top: 45px;
}

.cont-1 #djtime p:nth-of-type(2){
    font-size: 20px;
    color: #ccc;
}

.cont-1 #djtime>ul li{
    float: left;
    width: 30px;
    height: 30px;
    background: black;
    margin: 20px 8.5px;
    color: white;
    line-height: 30px;
}

.cont-1 #lbpic{
    width: 800px;
    height: 275px;
    position: relative;
    float: left;
    overflow: hidden;
}

.cont-1 #lbpic #lunb{
    width: 2400px;
    height: 275px;
    position: absolute;
    top: 0;
    left: 0;
}

.cont-1 #lbpic #lunb .lun{
    width: 200px;
    height: 275px;
    float: left;
    text-align: center;
    background: white;
    border-right: 1px solid #ccc;
    padding-top: 20px;
}

.cont-1 #lbpic #lunb .lun a{
    color: gray;
    font-size: 14px;
}

.cont-1 #lbpic #lunb .lun a:hover{
    color: red;
    opacity: .7;
}

.cont-1 #lbpic #lunb .lun a span{
    display: block;
    width: 88px;
    height: 25px;
    line-height: 25px;
    color: white;
    font-weight: bold;
    background: #e2231a;
    margin: 0 auto;
    margin-top: 30px;
}

.cont-1 #lbpic>span{
    display: block;
    width: 30px;
    height: 50px;
    background: rgba(0,0,0,.1);
    text-align: center;
    line-height: 50px;
    position: absolute;
    cursor: pointer ;
}

.cont-1 #lbpic>span:hover{
    background:rgba(0,0,0,.3);
}

.cont-1 #lbpic>span:nth-of-type(1){
    left: 5px;
    top: 111px;
}

.cont-1 #lbpic>span:nth-of-type(2){
    right: 5px;
    top: 111px;
}

.cont-1 #lbright{
    width: 200px;
    height: 275px;
    float: left;
    padding: 5px;
    background: white;
}

.cont-1 #lbright img{
    width: 190px;
    height: 265px;
    float: left;
    display: none;
    cursor: pointer;
}

.cont-2{
    width: 1190px;
    height: 480px;
    margin: 0 auto;
}

.cont-2 #cont-2-left{
    width: 390px;
    height: 450px;
    background: white;
    float: left;
}

.cont-2 #cont-2-left #left-top{
    width: 390px;
    height: 60px;
    line-height: 60px;

}

.cont-2 #cont-2-left #left-top>p{
    font-size: 22px;
    float: left;
    margin-left: 20px;
}

.cont-2 #cont-2-left #left-top>p b{
    color: red;
}

.cont-2 #cont-2-left #left-top>span{
    color: gray;
    font-size: 14px;
}

.cont-2 #cont-2-left>ul{
    width: 390px;
    height: 34px;
    background: rgba(240,240,240);
}

.cont-2 #cont-2-left>ul li{
    float: left;
}

.cont-2 #cont-2-left>ul li a{
    color: gray;
    font-size: 12px;
    display: inline-block;
    width: 78px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

.cont-2 #cont-2-left>ul li a:hover{
    color: red;
}

.cont-2 #cont-2-list{
    width: 390px;
    height: 320px;
    border-bottom: 1px solid rgba(240,240,240);
    overflow: hidden;
}

.cont-2 #cont-2-list>ul{
    width: 390px;
    height: 320px;
}

.cont-2 #cont-2-list>ul li{
    width: 350px;
    height: 107px;
    line-height: 107px;
}

.cont-2 #cont-2-list>ul li a{
    color: gray;
    font-size: 14px;
}

.cont-2 #cont-2-list>ul li a:hover{
    color: red;
}

.cont-2 #cont-2-list>ul li img{
    width: 80px;
    height: 80px;
    float: left;
    margin: 13px 20px 0 10px;
}

.cont-2 #cont-2-mid{
    width: 390px;
    height: 450px;
    background: white;
    float: left;
    margin: 0 10px;
    position: relative;
}

.cont-2 #cont-2-mid #mid-top{
    width: 390px;
    height: 60px;
    line-height: 60px;

}

.cont-2 #cont-2-mid #mid-top>p{
    font-size: 22px;
    float: left;
    margin-left: 20px;
}

.cont-2 #cont-2-mid #mid-top>p b{
    color: red;
}

.cont-2 #cont-2-mid #mid-top>span{
    color: gray;
    font-size: 14px;
}

.cont-2 #cont-2-mid #mid-pic{
    width: 350px;
    height: 355px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.cont-2 #cont-2-mid #mid-pic img{
    width: 350px;
    height: 355px;
    float: left;
}

.cont-2 #cont-2-mid #mid-pic>div{
    width: 1050px;
    height: 355px;
    position: absolute;
    left: 0;
}

.cont-2 #cont-2-mid>ul li{
    float: left;
    width: 20px;
    height: 50px;
    background: gray;
    text-align: center;
    line-height: 50px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 205px;
}

.cont-2 #cont-2-mid>ul li:nth-of-type(2){
    right: 0;
}

.cont-2 #cont-2-right{
    width: 390px;
    height: 450px;
    background: white;
    float: left;
}

.cont-2 #cont-2-right #right-top{
    width: 390px;
    height: 60px;
    line-height: 60px;

}

.cont-2 #cont-2-right #right-top>p{
    font-size: 22px;
    float: left;
    margin-left: 20px;
}

.cont-2 #cont-2-right #right-top>p b{
    color: red;
}

.cont-2 #cont-2-right #right-top>span{
    color: gray;
    font-size: 14px;
}

.cont-2 #cont-2-right img{
    width: 350px;
    height: 355px;
    margin-left: 20px;
}

.cont-3{
    width: 1190px;
    height: 480px;
    margin: 0 auto;
}

.cont-3 #cont-3-left{
    width: 390px;
    height: 450px;
    background: white;
    float: left;
    position: relative;
}

.cont-3 #cont-3-left #left3-top{
    width: 390px;
    height: 60px;
    line-height: 60px;

}

.cont-3 #cont-3-left #left3-top>p{
    font-size: 22px;
    float: left;
    margin-left: 20px;
}

.cont-3 #cont-3-left #left3-top>p b{
    color: red;
}

.cont-3 #cont-3-left #left3-top>span{
    color: gray;
    font-size: 14px;
}

.cont-3 #cont-3-left #left3-pic{
    width: 350px;
    height: 355px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.cont-3 #cont-3-left #left3-pic img{
    width: 350px;
    height: 355px;
    float: left;
}

.cont-3 #cont-3-left #left3-pic>div{
    width: 1050px;
    height: 355px;
    position: absolute;
    left: 0;
}

.cont-3 #cont-3-left>ul li{
    float: left;
    width: 20px;
    height: 50px;
    background: gray;
    text-align: center;
    line-height: 50px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 205px;
}

.cont-3 #cont-3-left>ul li:nth-of-type(2){
    right: 0;
}

.cont-3 #cont-3-mid{
    width: 390px;
    height: 450px;
    background: white;
    float: left;
    margin: 0 10px;
}

.cont-3 #cont-3-mid #mid3-top{
    width: 390px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 30px;
}

.cont-3 #cont-3-mid #mid3-top>p{
    font-size: 22px;
    float: left;
    margin-left: 20px;
}

.cont-3 #cont-3-mid #mid3-top>p b{
    color: red;
}

.cont-3 #cont-3-mid #mid3-top>span{
    color: gray;
    font-size: 14px;
}

.cont-3 #cont-3-mid>a{
    display: block;
    width: 180px;
    height: 165px;
    float: left;
    color: gray;
    font-size: 14px;
    text-align: center;
}

.cont-3 #cont-3-mid>a img{
    width: 110px;
    height: 110px;
}

.cont-3 #cont-3-mid>a:hover{
    color: red;
    opacity: .7;
}

.cont-3 #cont-3-right{
    width: 390px;
    height: 450px;
    background: white;
    float: left;
}

.cont-3 #cont-3-right #right3-top{
    width: 390px;
    height: 60px;
    line-height: 60px;
}

.cont-3 #cont-3-right #right3-top>p{
    font-size: 22px;
    float: left;
    margin-left: 20px;
}

.cont-3 #cont-3-right #right3-top>p b{
    color: red;
}

.cont-3 #cont-3-right #right3-top>span{
    color: gray;
    font-size: 14px;
}

.cont-3 #cont-3-right>img:nth-of-type(1){
    width: 350px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.cont-3 #cont-3-right>img:hover{
    opacity: .8;
    cursor: pointer;
}

.cont-3 #cont-3-right .blueclo{
    width: 110px;
    height: 110px;
    float: left;
    display: block;
    margin: 15px 10px 0 10px;
}

.fengex{
    width: 100%;
    height: 45px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
}

.fashion{
    width: 1190px;
    margin: 30px auto;
    overflow: hidden;
}

.fashion #fashion-left{
    width: 390px;
    height: 450px;
    background: white;
    float: left;
    position: relative;
}

.fashion #fashion-left #left4-top{
    width: 390px;
    height: 60px;
    line-height: 60px;

}

.fashion #fashion-left #left4-top>p{
    font-size: 22px;
    float: left;
    margin-left: 20px;
}

.fashion #fashion-left #left4-top>p b{
    color: red;
}

.fashion #fashion-left #left4-top>span{
    color: gray;
    font-size: 14px;
}

.fashion .fapic{
    width: 170px;
    height: 180px;
    float: left;
    margin: 10px 5px;
}

.fashion #fashion-left img:nth-of-type(2){
    margin-left: 20px;
}

.fashion #fashion-left img:nth-of-type(1){
    width: 350px;
    height: 180px;
    display: block;
    margin: 0 auto;
}

.fashion #fashion-left img:hover{
    opacity: .9;
    cursor: pointer;
}

.fashion #fashion-mid{
    width: 390px;
    height: 450px;
    background: white;
    float: left;
    margin: 0 10px;
    position: relative;
}

.fashion #fashion-mid #mid4-top{
    width: 390px;
    height: 60px;
    line-height: 60px;

}

.fashion #fashion-mid #mid4-top>p{
    font-size: 22px;
    float: left;
    margin-left: 20px;
}

.fashion #fashion-mid #mid4-top>p b{
    color: red;
}

.fashion #fashion-mid #mid4-top>span{
    color: gray;
    font-size: 14px;
}

.fashion #fashion-mid img:nth-of-type(2){
    margin-left: 20px;
}

.fashion #fashion-mid img:nth-of-type(1){
    width: 350px;
    height: 180px;
    display: block;
    margin: 0 auto;
}

.fashion #fashion-mid img:hover{
    opacity: .9;
    cursor: pointer;
}

.fashion #fashion-right{
    width: 390px;
    height: 450px;
    float: left;
    position: relative;
}

.fashion #fashion-right #fa-kk{
    width: 350px;
    height: 430px;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 5px solid black;
}

.fashion #fashion-right #fa-kk img{
    width: 340px;
    height:420px;
    position: absolute;
    left: -40px;
    top: -24px;
}

.fashion #fashion2-left,.ai #ai2-left{
    width: 390px;
    height: 450px;
    float: left;
    position: relative;
    margin: 30px 0;
}

.fashion #fashion2-left #fa2-kk,.ai #ai2-left #ar2-kk{
    width: 350px;
    height: 430px;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 5px solid black;
}

.fashion #fashion2-left #fa2-kk img,.ai #ai2-left #ar2-kk img{
    width: 340px;
    height:420px;
    position: absolute;
    right: -45px;
    top: -24px;
}

.fashion #fashion2-mid,.ai #ai2-mid{
    width: 390px;
    height: 450px;
    float: left;
    margin: 30px 10px;
}

.fashion #fashion2-mid1,.ai #ai2-mid1{
    width: 390px;
    height: 220px;
    float: left;
    background: white;
}

.fashion #fashion2-mid1 a,.ai #ai2-mid1 a{
    font-size: 18px;
    color: black;
    display: block;
    padding: 15px 0 0 20px;
}

.fashion #fashion2-mid1 span,.ai #ai2-mid1 span{
    font-size: 14px;
    color: gray;
}

.fashion #fashion2-mid1 img,.ai #ai2-mid1 img{
    width: 130px;
    height: 130px;
    margin: 20px 30px;
}

.fashion #fashion2-mid2,.ai #ai2-mid2{
    width: 390px;
    height: 220px;
    float: left;
    margin-top: 10px;
    background: white;
}

.fashion #fashion2-mid2 a,.ai #ai2-mid2 a{
    font-size: 18px;
    color: black;
    display: block;
    padding: 15px 0 0 20px;
}

.fashion #fashion2-mid2 span,.ai #ai2-mid2 span{
    font-size: 14px;
    color: gray;
}

.fashion #fashion2-mid2 img,.ai #ai2-mid2 img{
    width: 130px;
    height: 130px;
    margin: 25px 30px;
}

.fashion #fashion2-right,.ai #ai2-right{
    width: 390px;
    height: 450px;
    background: white;
    float: left;
    margin: 30px 0;
}

.fashion #fashion2-right #right4-top,.ai #ai2-right #ai2-right-top{
    width: 390px;
    height: 60px;
    line-height: 60px;

}

.fashion #fashion2-right #right4-top>p.ai #ai2-right #ai2-right-top>p{
    font-size: 22px;
    float: left;
    margin-left: 20px;
}

.fashion #fashion2-right>img:nth-of-type(1),.ai #ai2-right>img:nth-of-type(1){
    width: 350px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.fashion #fashion2-right>img:hover,.ai #ai2-right>img:hover{
    opacity: .8;
    cursor: pointer;
}

.fashion #fashion2-right .fapic,.ai #ai2-right .fapic{
    width: 110px;
    height: 110px;
    float: left;
    display: block;
    margin: 15px 10px 0 10px;
}

.fashion #fashion3-left{
    width: 390px;
    height: 450px;
    background: white;
    float: left;
}

.fashion #fashion3-left #left5-top{
    width: 390px;
    height: 60px;
    line-height: 60px;
}

.fashion #fashion3-left #left5-top>p{
    font-size: 22px;
    float: left;
    margin-left: 20px;
}

.fashion #fashion3-left #left5-top>p b{
    color: red;
}

.fashion #fashion3-left #left5-top>span{
    color: gray;
    font-size: 14px;
}

.fashion #fashion3-left>img:nth-of-type(1){
    width: 350px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.fashion #fashion3-left>img:hover{
    opacity: .8;
    cursor: pointer;
}

.fashion #fashion3-left .blueclo{
    width: 110px;
    height: 110px;
    float: left;
    display: block;
    margin: 15px 10px 0 10px;
}

.fashion #fashion3-mid{
    width: 390px;
    height: 450px;
    background: white;
    float: left;
    position: relative;
    margin: 0 10px;
}

.fashion #fashion3-mid #mid5-top{
    width: 390px;
    height: 60px;
    line-height: 60px;

}

.fashion #fashion3-mid #mid5-top>p{
    font-size: 22px;
    float: left;
    margin-left: 20px;
}

.fashion #fashion3-mid #mid5-top>p b{
    color: red;
}

.fashion #fashion3-mid #mid5-top>span{
    color: gray;
    font-size: 14px;
}

.fashion #fashion3-mid img:nth-of-type(2){
    margin-left: 20px;
}

.fashion #fashion3-mid img:nth-of-type(1){
    width: 350px;
    height: 180px;
    display: block;
    margin: 0 auto;
}

.fashion #fashion3-mid img:hover{
    opacity: .9;
    cursor: pointer;
}

.fashion #fashion3-right{
    width: 390px;
    height: 450px;
    float: left;
    position: relative;
}

.fashion #fashion3-right #fa3-kk{
    width: 350px;
    height: 430px;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 5px solid black;
}

.fashion #fashion3-right #fa3-kk img{
    width: 340px;
    height:200px;
}

.fashion #fashion3-right #fa3-kk img:nth-of-type(1){
    margin-bottom: 20px;
}

.fashion #fashion3-right #fr-pic{
    position: absolute;
    left: -40px;
    top: -24px;
}

.ai{
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
}

.ai #ai-left{
    width: 390px;
    height: 450px;
    background: white;
    float: left;
}

.ai #ai-left #ai-left-top{
    width: 390px;
    height: 60px;
    line-height: 60px;

}

.ai #ai-left #ai-left-top>p{
    font-size: 22px;
    float: left;
    margin-left: 20px;
}

.ai #ai-left #ai-left-top>p b{
    color: red;
}

.ai #ai-left #ai-left-top>span{
    color: gray;
    font-size: 14px;
}

.ai #ai-left>div{
    width: 345px;
    height: 180px;
    margin: 10px auto;
}

.ai #ai-left>div a{
    width: 170px;
    height: 180px;
    display: inline-block;
}

.ai #ai-left>div a:hover{
    opacity: .8;
}

.ai #ai-left>div a img{
    width: 170px;
    height: 180px;
}

.ai #ai-left>div:nth-of-type(3) ul li{
    width: 86px;
    height: 60px;
    float: left;
    background: url("../img/pingguo.jpg") no-repeat 0 0;
    background-size: 80px 55px;
    border: 1px solid #ccc;
}

.ai #ai-left>div:nth-of-type(3) ul li:hover{
    opacity: .7;
}

.ai #ai-mid{
    width: 390px;
    height: 450px;
    background: white;
    float: left;
    margin: 0 10px;
}

.ai #ai-mid #ai-mid-top{
    width: 390px;
    height: 60px;
    line-height: 60px;

}

.ai #ai-mid #ai-mid-top>p{
    font-size: 22px;
    float: left;
    margin-left: 20px;
}

.ai #ai-mid #ai-mid-top>p b{
    color: red;
}

.ai #ai-mid #ai-mid-top>span{
    color: gray;
    font-size: 14px;
}

.ai #ai-mid img{
    width: 350px;
    height: 370px;
    margin-left: 15px;
}

.ai #ai-mid img:hover{
    cursor: pointer;
    opacity: .8;
}

.ai #ai-right{
    width: 390px;
    height: 450px;
    float: left;
    position: relative;
}

.ai #ai-right #ai-kk{
    width: 350px;
    height: 430px;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 5px solid black;
}

.ai #ai-right #ai-kk img{
    width: 340px;
    height:420px;
    position: absolute;
    left: -40px;
    top: -25px;
    cursor: pointer;
}

.life{
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
}

.life>div{
    width: 390px;
    height: 450px;
    background: white;
    float: left;
}

.life>div a{
    display: block;
    width: 390px;
    height: 60px;
    font-size: 22px;
    color: #000;
    padding: 20px;
}

.life>div a b{
    color: red;
}

.life>div a span{
    color: gray;
    font-size: 16px;
}

.life>div>img:nth-of-type(1){
    width: 350px;
    height: 180px;
    display: block;
    margin: 0 auto;
}

.life>div img:hover{
    opacity: .8;
    cursor: pointer;
}

.life>div>div{
    width: 360px;
    height: 180px;
    margin: 10px auto;
}

.life>div>div>img{
    width: 170px;
    height: 180px;
    margin: 0 3px;
}

.life>div:nth-of-type(2){
    margin: 0 10px;
}

.life>div:nth-of-type(2)>img{
    width: 350px;
    height: 226px;
}

.life>div:nth-of-type(2)>div img{
    width: 100px;
    height: 100px;
    margin: 15px 5px 0 5px;
}

.life>div:nth-of-type(3){
    width: 390px;
    height: 450px;
    position: relative;
    background-color: rgba(0,0,0,0);
}

.life>div:nth-of-type(3)>div{
    width: 340px;
    height: 420px;
    border: 5px solid black;
    position: absolute;
    right: 0;
    bottom: 0;
}

.life>div:nth-of-type(3)>div img{
    width: 340px;
    height: 420px;
    position: absolute;
    left: -40px;
    top: -20px;
}

.life>div:nth-of-type(4){
    width: 390px;
    height: 450px;
    position: relative;
    background-color: rgba(0,0,0,0);
    margin-top: 30px;
}

.life>div:nth-of-type(4)>div{
    width: 340px;
    height: 420px;
    border: 5px solid black;
    position: absolute;
    left: 0;
    bottom: 0;
}

.life>div:nth-of-type(4)>div>div{
    width: 340px;
    height: 420px;
    position: absolute;
    right: -40px;
    top: -20px;
}

.life>div:nth-of-type(4)>div>div img{
    width: 340px;
    height: 200px;
}

.life>div:nth-of-type(5){
    margin: 30px 10px 0 10px;
    background-color: rgba(0,0,0,0);
}

.life>div:nth-of-type(5)>div:nth-of-type(1){
    width: 390px;
    height: 220px;
    background: white;
    margin: 0 auto;
}

.life>div:nth-of-type(5)>div:nth-of-type(1) img,.life>div:nth-of-type(5)>div:nth-of-type(2) img{
    width: 130px;
    height: 130px;
    margin: 0 31px;
}

.life>div:nth-of-type(5)>div:nth-of-type(2){
    width: 390px;
    height: 220px;
    background: white;
    margin: 0 auto;
    margin-top: 10px;
}

.life>div:nth-of-type(6){
    margin-top: 30px;
}

.life>div:nth-of-type(6)>img:nth-of-type(2){
    width: 350px;
    height: 180px;
    display: block;
    margin: 10px auto 0;
}

.joy{
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
}

.joy .joy-box{
    width: 390px;
    height: 240px;
    background: white;
    float: left;
    margin-bottom: 10px;
}

.joy .joy-box a{
    display: block;
    width: 390px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    background-color: #999;
}

.joy .joy-box img{
    width: 110px;
    height: 110px;
    display: inline-block;
    margin: 0 8px;
}

.joy .joy-box img:hover{
    cursor: pointer;
    opacity: .9;
}

.joy .joy-bb{
    margin: 0 10px;
}

.special{
    width: 1190px;
    height: 330px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.special>div{
    width: 3600px;
    height: 330px;
    position: absolute;
    left: -5px;
    top: 0;
}

.special>div>div{
    width: 390px;
    height: 330px;
    background: white;
    text-align: center;
    float: left;
    margin: 0 5px;
}

.special>div>div a{
    display: block;
    width: 390px;
    height: 60px;
    font-size: 24px;
    color: black;
    line-height: 60px;
}

.special>div>div img{
    width: 350px;
    height: 250px;
}

.special>div>div img:hover{
    opacity: .9;
    cursor: pointer;
}

.special ul li{
    float: left;
    width: 20px;
    height: 40px;
    background-color: #ccc;
    text-align: center;
    line-height: 40px;
}

.special ul li:hover{
    cursor: pointer;
    background: gray;
}

.special ul li:nth-of-type(1){
    position: absolute;
    top: 155px;
    left: 0;
}

.special ul li:nth-of-type(2){
    position: absolute;
    top: 155px;
    right: 0;
}

.nav{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}

.nav>div{
    width: 230px;
    height: 305px;
    float: left;
    text-align: center;
    background: white;
    margin: 5px;
    transition: all .5s;
}

.nav>div img{
    width: 170px;
    height: 170px;
    margin-top: 30px;
}

.nav>div p{
    margin-top: 20px;
}

.nav>div p:nth-of-type(2){
    color: red;
}

.nav>div:hover{
    opacity: .8;
}

footer{
    width: 1190px;
    margin: 0 auto;
}

footer #dkhs{
    border-bottom: 1px solid #ccc;
    margin: 50px auto 20px;
    overflow: hidden;
}

footer #dkhs>div{
    width: 297px;
    height: 42px;
    float: left;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#foot-list{
    width: 100%;
    overflow: hidden;
    margin-bottom: 1px solid #ccc   ;
}

#foot-list .dl{
    width: 198px;
    height: 156px;
    float: left;
}

#foot-list .dl ul li a{
    color: gray;
    font-size: 12px;
}

#foot-list .dl ul li a:hover{
    color: red;
}

#foot-list #ziy{
    width: 200px;
    height: 150px;
    float: left;
    background: url("../img/sprite.footer.png") no-repeat 0 0;
}

#foot-list #ziy p{
    font-size: 12px;
    color: gray;
    line-height: 1.6em;
    margin-top: 20px;
}

#foot-list #ziy a{
    color: gray;
    font-size: 12px;
    float: right;
}

#foot-list #ziy a:hover{
    color: red;
}

footer>p{
    font-size: 12px;
    color: gray;
    text-align: center;
    margin: 5px 0;
}

footer>p a{
    color: gray;
    margin: 0 8px;
}

footer>p a:hover{
    color: red;
}

footer>p:last-of-type{
    margin: 30px 0;
}

footer>p:last-of-type a{
    display: inline-block;
    width: 100px;
    height: 30px;
}

footer>p:last-of-type a:nth-of-type(1){
    background: url("../img/sprite.footer.png") no-repeat -200px -110px;
}

footer>p:last-of-type a:nth-of-type(2){
    background: url("../img/sprite.footer.png") no-repeat -200px -73px;
}

footer>p:last-of-type a:nth-of-type(3){
    background: url("../img/sprite.footer.png") no-repeat -200px -35px;
}

footer>p:last-of-type a:nth-of-type(4){
    background: url("../img/sprite.footer.png") no-repeat -210px 0px;
}

footer>p:last-of-type a:nth-of-type(5){
    background: url("../img/sprite.footer.png") no-repeat 0px -155px;
}

#tab{
    width: 35px;
    height: 250px;
    position: fixed;
    right: 0;
    top: 200px;
}

#tab>div{
    width: 34px;
    height: 35px;
    background: #e4393c;
    position: relative;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#tab>div a{
    display: inline-block;
    width: 34px;
    height: 35px;
    background: url("../img/xin.png") no-repeat 7px 7px;
    background-size: 20px 20px;
}

#tab>div span{
    display: block;
    width: 62px;
    height: 35px;
    background: #e4393c;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: left .2s linear;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
    color: white;
}

#backtop{
    width: 30px;
    height: 30px;
    display: block;
    position: fixed;
    right: 0;
    bottom: 50px;
    background: url("../img/up.png") no-repeat 0 0;
    background-size: 20px 20px;
}